/* ----- Google Fonts ----- */

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Overpass:wght@200;400;700&display=swap');

/* ----- Global styling ----- */

:root {
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-accent: #aa8c21;
  --color-light: #fff;
  --color-dark-grey: #323232;
  --color-dark: #000000;
  --color-header-footer-background: #1c1b1f;
  --color-placeholder-text: #646464;
  --color-hover: #aa8c21;
  --font-size-xs: 0.875rem;
  --font-size-s: clamp(0.938rem, 2.5vw, 1.063rem);
  --font-size-m: clamp(1.125rem, 1rem + 1vw, 1.5rem);
  --font-size-l: clamp(1.75rem, 1.5rem + 1vw, 2.25rem);
  --font-size-xl: clamp(2.5rem, 2rem + 2vw, 3rem);
  --font-size-xxl: clamp(3rem, 2.5rem + 2vw, 3.5rem);
  --font-weight-bold: 600;
  --font-weight-regular: 400;
  --font-weight-light: 200;
  --default-padding-left-right: 3rem;
  --default-padding-top-bottom: 3rem;
  --default-padding-left-right-tablet: 2rem;
  --default-padding-left-right-mobile: 1.5rem;
  --default-margin-top-bottom: 3rem;
  --default-margin-left-right: 3rem;
  --default-margin-left-right-tablet: 2rem;
  --default-margin-left-right-mobile: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
}

h1 {
  font-size: var(--font-size-xxl);
  line-height: 1.1;
  text-transform: uppercase;
}

h2 {
  font-size: var(--font-size-xl);
  text-transform: uppercase;
}

h3 {
  font-size: var(--font-size-l);
  font-family: 'Overpass', sans-serif;
  font-weight: var(--font-weight-regular);
}

h4 {
  font-size: var(--font-size-m);
  font-family: 'Overpass', sans-serif;
  font-weight: var(--font-weight-regular);
}

h5 {
  font-size: var(--font-size-s);
}

h6 {
  font-size: var(--font-size-xs);
}

p,
span {
  font-family: 'Overpass', sans-serif;
  font-size: var(--font-size-s);
}

a {
  font-family: 'Overpass', sans-serif;
  text-decoration: none;
  color: var(--color-light);
}
a:hover {
  text-decoration: underline;
}

input {
  font-family: 'Overpass', sans-serif;
  font-size: var(--font-size-s);
  border: none;
  color: var(--color-placeholder-text);
}

button {
  font-family: 'Overpass', sans-serif;
  font-size: var(--font-size-s);
  text-transform: uppercase;
  cursor: pointer;
}
